# This is .env example

# Example for PostgreSQL (used in Prisma Migrate and Prisma Client):
DATABASE_URL="postgresql://[USERNAME]:[PASSWORD]@localhost:5432/[DTABASE-NAME]?schema=public"
# Application Port
PORT = [PORT-NUMBER]
# JWT Secret
JWT_SECRET = [Anything Custom Separate with "-"]